.course-cover-cart {
    width: 100%;
    height: 138px;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
    margin: -40px -25px;
    text-align: center;
}

.course-cover-cart-img {
    height: 100%;
    width: auto;
}

.order-id {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
}

.order-date {
    font-size: 18px;
}

.order-o-price {
    color: #4BC021;
    font-weight: bold;
    font-size: 18px;
}

.order-o-price::after {
    content: ' ';
}

.order-discount {
    font-weight: bold;
    font-size: 18px;
    color: #888
}

.order-discount::after {
    content: ' ';
}

.order-discount::before {
    content: '- ';
}

.order-price {
    color: #FF2E2E;
    font-weight: bold;
    font-size: 36px;
}

.order-price::after {
    content: ' ';
}

.cart-item {
    height: 138px;
}

.cart-item-info{
    margin: -15px -10px;
}

.cart-item-title {
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
}

.cart-item-ava {
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    height: 31px;
    width: 31px;
    margin-right: 10px;
}

.cart-item-name{
    font-weight: normal;
    font-size: 14px;
    color: #888;
}

.cart-item-price{
    font-size: 24px;
    color: #75D354;
    font-weight: bold;
}

.cart-item-price::after{
    content: ' ';
}

.voucher-tit {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 20px !important;
}