.big-banner {
    width: 100%;
    height: 450px;
    background-color: #75D354;
    padding-top: 30px;
}

.navbar-banner {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.sign-up-btn-white {
    padding: 7px 18px;
    border-radius: 100px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.25);
}

.search-box-white {
    padding: 7px 18px;
    border-radius: 100px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.search-box-white input {
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 80%;
    border: 0px;
}

.search-box-white input::placeholder {
    color: #fff;
}

.show-off {
    width: 880px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05), 1px 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 22px 60px;
    font-size: 18px;
    color: #000;
    position: absolute;
    margin-left: calc((100% - 880px)/2);
    margin-top: -50px;
    line-height: normal;
}

.show-off-number {
    font-size: 28px;
    font-weight: bold;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #888;
}

.hot-cats-container {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(6, calc((100% / 6.45)));
    margin-bottom: 25px;
}

.hot-cats {
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
}

.hot-cats:hover {
    opacity: 0.75;
}

.lang {
    background: #FF003D;
}

.marketing {
    background: #6800ED;
}

.business {
    background: #FEB45B;
}

.personal {
    background: #C70084;
}

.design {
    background: #00B2CB;
}

.programming {
    background: #0029FF;
}

.fteachers-container {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(4, calc((100% / 3.41) - 100px));
    grid-template-rows: 320px;
    margin-bottom: 25px;
}

.fteachers {
    padding: 40px 30px;
    color: #000;
    background: #FFFFFF;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
}

.fteachers-name {
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
}

.fteachers-rate-count {
    font-size: 12px;
    color: #CCCCCC;
    font-weight: normal;
}

.fteachers-student-count {
    font-size: 14px;
    font-weight: normal;
}

.fteachers-course-count {
    font-size: 24px;
    color: #75D354;
}

.fteachers-course {
    font-size: 14px;
    font-weight: normal;
}

.fteachers-course-tile{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.fteachers-course-price{
    position: absolute;
    z-index: 5;
    bottom: 0;
    margin-bottom: -13px;
    margin-left: 40px;
}

.fteachers-price {
    font-size: 14px !important;
    padding: 4px 16px !important;
}

.fteachers-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: normal;
}

.fteachers-ava-container{
    height: 114px;
    width: 114px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.fteachers-ava-img{
    height: 100%;
    width: auto;
}

.fteachers-cover-container{
    height: 90px;
    width: 148px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.fteachers-cover-img{
    height: 100%;
    width: auto;
}