.theater {
    background: #000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
}

.theater-cat {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-left: -20px;
}

.theater-title {
    font-weight: bold;
    font-size: 24px;
    margin-left: -20px;
}

.player-ph {
    width: 100%;
    height: 560px;
    background: #c4c4c4;
    border-radius: 5px;
}

.lecture-tab {
    background: #FAFAFA;
    height: 48px;
    display: inline-block;
    width: calc(100% + 50px);
    color: #75D354;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    z-index: 5;
    border-radius: 20px 20px 0px 0px;
    margin: -30px -25px 0 -25px;
}

.tab-enabled {
    text-align: center;
    width: auto;
    height: 100%;
    border-bottom: 2px solid #75D354;
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
    padding-left: -10px;
    padding-right: -10px;
}

.tab-disabled {
    width: auto;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.8;
    cursor: pointer;
    padding-left: -10px;
    padding-right: -10px;
}

.tab-disabled:hover {
    opacity: 1;
}

.tab-icon {
    margin-right: 5px;
}

.chapter-title {
    color: #4685FF;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.chapter {
    padding: 15px 0px;
    border-top: 1px solid #eee;
}

.lecture-title {
    color: #888888;
    font-weight: normal;
    margin-left: 5px;
    font-size: 15px;
}

.lecture {
    margin: 10px;
}

.doc-seperator{
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
}

.doc-title{
    font-weight: bold;
    font-size: 18px;
    color: #888;
}

.doc-filename{
    font-weight: normal;
    font-size: 14px;
    color: #ccc;
}

.comment-margin {
    margin: 15px -20px 0px -20px !important;
}

.rater-name {
    color: #888;
    font-weight: bold;
    font-size: 16px;
}

.rater-date{
    color: #ccc;
    font-weight: normal;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.rater-ava {
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    width: 32px;
    height: 32px
}

.rater-cmt {
    font-size: 15px;
    margin-bottom: 15px;
}

.cmt-seperator{
    border-bottom: 1px solid #eee;
}

.cmt-box{
    width: calc(100% + 50px);
    border-top: 1px solid #eee;
    padding: 14px;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;
    height: 60px;
    bottom: 0;
    position: absolute;
    margin: 0 -25px 0px -25px;
}

.scroll-cmt{
    height: calc(100% - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -2px;
    margin-left: -10px;
}