.cover {
    height: 293px;
    width: 100%;
    background: #FDFDFD;
    position: relative;
}

.ava {
    height: 153px;
    width: 153px;
    border-radius: 50%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.label {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    width: auto;
}

.name {
    font-size: 36px;
    font-weight: bold;
}

.course-count {
    font-size: 18px;
    font-weight: bold;
    color: #888;
}

.tab-group {
    height: 48px;
    display: inline-block;
    width: 100%;
    color: #75D354;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    z-index: 5;
    bottom: 0;
    position: absolute;
}

.tab-enabled {
    text-align: center;
    width: auto;
    height: 100%;
    border-bottom: 2px solid #75D354;
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
}

.tab-disabled {
    width: auto;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.8;
    cursor: pointer;
}

.tab-disabled:hover {
    opacity: 1;
}

.tab-icon {
    margin-right: 10px;
}

.setting-title {
    font-size: 18px;
    font-weight: bold;
}

.setting-options {
    font-weight: bold;
    font-size: 14px;
    color: #888;
    list-style-type: none;
    padding-left: 0px;
    line-height: 32px;
}

.hi-li {
    color: #75D354 !important;
}

.hi-li>span {
    opacity: 0.7;
}

.hi-li>span:hover {
    opacity: 1 !important;
}

li>a {
    text-decoration: none;
    color: #888;
}

li>a:hover {
    text-decoration: none;
    color: #666;
}

li>a>img {
    margin-right: 10px;
}

.tab-content {
    padding-top: 45px;
    padding-bottom: 20px;
}